* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
  background-color: #fff;
}
html {
  scroll-behavior: smooth !important;
}
.tablebodycellinner {
  background: #f9f9f9 !important;
}
.mantine-Table-tr td > span {
  background: #f9f9f9;
  padding: 8px 10px;
  width: 100%;
  display: block;
}
.mantine-Table-tr {
  background-color: #f9f9f9 !important;
}

.recharts-bar-rectangle path {
  border-radius: 20px;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e4e4e4;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5bc490;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3da270;
}
.AvatarProfileMain {
  position: relative;
}
.AvatarProfileMain::after {
  position: absolute;
  content: "";
  width: 118px;
  bottom: -6px;
  left: 11%;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(115 115 115 / 46%) 0%,
    rgba(217, 217, 217, 0) 100%
  );
  height: 8px;
  opacity: 0.7;
}
.phone-input-flag .react-international-phone-country-selector-button {
  height: 44px !important;
}

div[asideopen="false"] {
  display: none;
}

div[asideopen="false"] {
  margin: 0;
}

div[asideopen="false"] {
  justify-content: center;
}

div[asideopen="false"] {
  display: none;
}

div[asideopen="false"] {
  padding-left: 5px !important;
}
.aside-menu.active-menu,
.aside-menu.active-menu {
  filter: grayscale(0);
  opacity: 1;
  font-weight: 600 !important;
  color: #141b43 !important;
}
.aside-menu {
  filter: grayscale(10);
  opacity: 0.7;
}
.aside-menu.active-menu:after {
  width: 7px;
  height: 120%;
  content: "";
  background: #1e844d;
  left: -3px;
  right: 0;
  z-index: 99;
  position: absolute;
  border-radius: 0 50px 50px 0 !important;
}

.aside-menu.active-menu {
  position: relative;
  background: #f3f3f8;
}
.noti-menu.mantine-Menu-item {
  padding: 0 !important;
}

.notify .bell path {
  fill: black;
}

.notify {
  transition-duration: 0.5s;
  background-color: #fff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
}
.gutter-box {
  padding: 8px 0;
  background: #00a0e9;
}

.notify:hover .bell {
  animation: bellRing 0.9s both;
}

/* bell ringing animationfocus  keyframes*/
@keyframes bellRing {
  0%,
  100% {
    transform-origin: top;
  }

  15% {
    transform: rotateZ(10deg);
  }

  30% {
    transform: rotateZ(-10deg);
  }

  45% {
    transform: rotateZ(5deg);
  }

  60% {
    transform: rotateZ(-5deg);
  }

  75% {
    transform: rotateZ(2deg);
  }
}
